:root {
    font-size: 10px;
    font: Candara;
}
header{
    display: flex;
    align-items: center;
    padding: 2%;
    background-color: rgb(29, 42, 74);
    color: rgb(244, 246, 219);
    font-size: 1.8em;
}
body {
    background-image: url("bckg.jpeg");
    margin: 0;
    font: 1.8em / 1.8 Candara;
    height: 100%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}
.panel{
    display: flex;
    background-color: white;
    width: 60%;
    height: 50%;
    border-radius: 1.8em;
}
.options{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 26%;
    height: 100%;
    background-color: rgb(198, 218, 223);
    border-top-left-radius: 1.8em;
    border-bottom-left-radius: 1.8em;   
    border: 0.001em solid;
    border-color: darkslategray;
}
.options ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options ul li a{
    color: rgb(45, 45, 45);
    font: 1em;
    text-decoration: none;
    text-align: center;
}

.options ul li{
    display: flex;
    justify-content: center;
    align-content: center;
    width : 100%;
    text-align: center;
    align-items: center;
}

.logIn{
    border-top-left-radius: 1.8em;
    border-color: darkslategray;
}

.signIn{
    background-color: rgb(93,150,164);
    border-top: 0.001em solid;
    border-bottom: 0.001em solid;
}

.elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    width: 75%;
}

.elements form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    padding-top: 8%;
    padding-bottom: 10%;
}

.elements form input{
    width: 40%;
    height: 15%;
    margin-bottom: 3%;
    margin-right: 3%;
}

.elements form button{
    width: 64%;
    height: 18%;
    text-align: center;
    margin-top: 2%;
}