<body>
    <link rel="stylesheet" href="home.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div class="title">
        <header>
            <h3>
                Σύστημα Διαχείρησης Δημοσίων Κτηρίων
            </h3>
        </header>
    </div>
    <div class="content">
        <div class="menu">
            <ul>
                <li class="buildings">
                    <a href="./buildings.html">Κτήρια</a>
                </li>
                <li class="problems">
                    <a href="./problemReports.html">Αναφορά Προβλημάτων</a>
                </li>
                <li class="map">
                    <a href="./map.html">Χάρτης</a>
                </li>
                <li class="profile">
                    <a href="./profile.html">Προφίλ</a>
                </li>
            </ul>
        </div>
        <div class="elements">
        </div>
    </div>
</body>