<body>
    <link rel="stylesheet" href="problemReports.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div class="title">
        <header>
            <h3>
                Σύστημα Διαχείρησης Δημοσίων Κτηρίων
            </h3>
        </header>
    </div>
    <div class="content">
        <div class="menu">
            <ul>
                <li class="buildings">
                    <a href="./buildings.html">Κτήρια</a>
                </li>
                <li class="problems">
                    <a href="./problemReports.html">Αναφορά Προβλημάτων</a>
                </li>
                <li class="map">
                    <a href="./map.html">Χάρτης</a>
                </li>
                <li class="profile">
                    <a href="./profile.html">Προφίλ</a>
                </li>
            </ul>
        </div>
        <div class="elements">
            <div class="dropdown">
                <button class="dropbtn">
                    <p>Κτήριο</p>
                    <div class="dropdown-content">
                        <a href="./b1">Κτήριο 1</a>
                        <a href="./b2">Κτήριο 2</a>
                        <a href="./b3">Κτήριο 3</a>
                        <a href="./b4">Κτήριο 4</a>
                    </div>
                </button>
            </div>
            <ul class="problemList">
                <li id="p1">
                    <h4>Διαρροή Νερού</h4>
                    <p>Όροφος 1 Δωμάτιο 3, 10/12/22 21:40:23</p>
                    <button type="button">x</button>
                </li>
                <li id="p2">
                    <h4>Αδυναμία ρύθμισης θερμοκρασίας</h4>
                    <p>Όροφος 2 Δωμάτιο 1, 9/12/22 13:06:51</p>
                    <button type="button">x</button>
                </li>
            </ul>
        </div>
    </div>
</body>