<body>
    <link rel="stylesheet" href="signUp.css">
    <div class="title">
        <header>
            Σύστημα Διαχείρησης Δημοσίων Κτηρίων
        </header>
    </div>
    <div class="content">
        <div class="panel">
            <div class="options">
                <ul>
                    <li class="logIn">
                        <a href="./logIn.html">
                            Σύνδεση
                        </a>
                    </li>
                    <li class="signIn">
                        <a href="./signIn.html">
                            Εγγραφή    
                        </a>
                    </li>
                    <li class="regainPassword">
                        <a href="./regainPassword.html">
                            Ανάκτηση Κωδικού
                        </a>
                    </li>
                </ul>
            </div>
            <div class="elements">
                <form method="post" action="/signIn">
                    <input type="text" size="22" placeholder="Όνομα" name="name">
                    <input type="text" size="22" placeholder="Επίθετο" name="lastname">
                    <input type="text" size="22" placeholder="Φορέας" name="sector">
                    <input type="text" size="22" placeholder="Ιδιότητα" name="domain">
                    <input type="text" size="22" placeholder="Email" name="email">
                    <input type="text" size="22" placeholder="Τηλέφωνο" name="phone">
                    <input type="text" size="22" placeholder="Κωδικός" name="password">
                    <input type="text" size="22" placeholder="Επαλήθευση Κωδικού" name="password2">
                    <button type="submit">sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>