<body>
    <link rel="stylesheet" href="/css/buildings.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div class="title">
        <header>
            <h3>
                Σύστημα Διαχείρησης Δημοσίων Κτηρίων
            </h3>
        </header>
    </div>
    <div class="content">
        <div class="menu">
            <ul>
                <li class="buildings">
                    <a href="./buildings">Κτήρια</a>
                </li>
                <li class="problems">
                    <a href="./problemReports">Αναφορά Προβλημάτων</a>
                </li>
                <li class="map">
                    <a href="./map">Χάρτης</a>
                </li>
                <li class="profile">
                    <a href="./profile">Προφίλ</a>
                </li>
            </ul>
        </div>
        <div class="elements">
            <ul class="buildingList">
                <li id="b1">
                    <div class = "text1">
                        <h4>Κτήριο 1</h4>
                        <p>&nbsp;&nbsp;Δημαρχείο - Μαιζώνος 108 </p>
                    </div>
                </li>
                <li id="b2">
                    <div class = "text2">
                        <h4>Κτήριο 2</h4>
                        <p>&nbsp;&nbsp;Δικαστήρια - Γούναρη 30 </p>
                    </div>
                </li>
                <li id="b3">
                    <div class = "text3">
                        <h4>Κτήριο 3</h4>
                        <p>&nbsp;&nbsp;ΤΗΜΤΥ - Πανεπιστημιούπολη Ρίου </p>
                    </div>
                    
                </li>
            </ul>
            <table class="data">
                {{#each data}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </table>
            <table class="data2">
                {{#each data2}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <script src="buildings.mjs"></script>
</body>