<body>
    <link rel="stylesheet" href="/css/buildings.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div class="title">
        <header>
            <h3>
                Σύστημα Διαχείρησης Δημοσίων Κτηρίων
            </h3>
        </header>
    </div>
    <div class="content">
        <div class="menu">
            <ul>
                <li class="buildings">
                    <a href="./buildings">Κτήρια</a>
                </li>
                <li class="problems">
                    <a href="./problemReports">Αναφορά Προβλημάτων</a>
                </li>
                <li class="map">
                    <a href="./map">Χάρτης</a>
                </li>
                <li class="profile">
                    <a href="./profile">Προφίλ</a>
                </li>
            </ul>
        </div>
        <div class="elements">
            <ul class="buildingList">
                <li id="b1">
                    <h4>Κτήριο 1</h4>
                    <p>Ενεργεική Κατανάλωση: &nbsp &nbsp &nbsp Κατανάλωση Νερού:  </p>
                </li>
                <li id="b2">
                    <h4>Κτήριο 2</h4>
                    <p>Ενεργεική Κατανάλωση: &nbsp &nbsp &nbsp Κατανάλωση Νερού:  </p>
                </li>
                <li id="b3">
                    <h4>Κτήριο 3</h4>
                    <p>Ενεργεική Κατανάλωση: &nbsp &nbsp &nbsp Κατανάλωση Νερού:  </p>
                </li>
                <li id="b4">
                    <h4>Κτήριο 4</h4>
                    <p>Ενεργεική Κατανάλωση: &nbsp &nbsp &nbsp Κατανάλωση Νερού:  </p>
                </li>
            </ul>
        </div>
    </div>
</body>