<body>
    <link rel="stylesheet" href="/css/logIn.css">
    <div class="title">
        <header>
            Σύστημα Διαχείρησης Δημοσίων Κτηρίων
        </header>
    </div>
    <div class="content">
        <div class="panel">
            <div class="options">
                <ul>
                    <li class="logIn">
                        <a href="./logIn">
                            Σύνδεση
                        </a>
                    </li>
                    <li class="signIn">
                        <a href="./signUp">
                            Εγγραφή    
                        </a>
                    </li>
                    <li class="regainPassword">
                        <a href="./regainPassword">
                            Ανάκτηση Κωδικού
                        </a>
                    </li>
                </ul>
            </div>
            <div class="elements">
                <form method="post" action="/logIn">
                    <input type="text" size="22" placeholder="email" name="email">
                    <input type="password" size="22" placeholder="password" name="password">
                    <button type="submit">sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>