<body>
    <link rel="stylesheet" href="/css/problemReports.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <div class="title">
        <header>
            <h3>
                Σύστημα Διαχείρησης Δημοσίων Κτηρίων
            </h3>
        </header>
    </div>
    <div class="content">
        <div class="menu">
            <ul>
                <li class="buildings">
                    <a href="./buildings">Κτήρια</a>
                </li>
                <li class="problems">
                    <a href="./problemReports">Αναφορά Προβλημάτων</a>
                </li>
                <li class="map">
                    <a href="./map">Χάρτης</a>
                </li>
                <li class="profile">
                    <a href="./profile">Προφίλ</a>
                </li>
            </ul>
        </div>
        <div class="elements">
            <div class="dropdown">
                <button class="dropbtn">
                    <p>Κτήριο</p>
                    <div class="dropdown-content">
                        <a href="./b1">Κτήριο 1</a>
                        <a href="./b2">Κτήριο 2</a>
                        <a href="./b3">Κτήριο 3</a>
                    </div>
                </button>
            </div>
            <ul class="problemList">
                {{#each pr}}
                <li>
                    <h4>{{this.title}}</h4>
                    <p>ID Δωματίου: {{this.room}},  {{this.date}} {{this.time}}</p>
                    <button type="button">x</button>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>